<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}"/>
</head>
<body>
  <div class="character_container">
    <div class="character" id="character_idle">
      hello
    </div>
  </div>

  <div class="mood_button_container"> 
    <button class="mood_button">Happy</button>
    <button class="mood_button">Sad</button>
    <button class="mood_button">Lonely</button>
    <button class="mood_button">Empty</button>
    <button class="mood_button">Psycho</button>
    <button class="mood_button">etc...</button>
  </div>
  
</body>
</html>